<!-- <div class="col-lg-3 col-xs-12">

    <div class="small-box bg-teal">
        <div class="inner">
            <h3><t>Reports</t></h3>
            <p>
                <t>View / Download Reports</t>
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-document-text"></i>
        </div>
        <a href="#_moduleLink_#" class="small-box-footer" id="reportsLink">
            <t>Generate a Report</t> <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div> -->