<!-- <div class="col-lg-3 col-xs-12">

    <div class="small-box bg-aqua">
        <div class="inner">
            <h3>
                <t>Permission</t>
            </h3>
            <p>
                <t>Management</t>
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-locked"></i>
        </div>
        <a href="#_moduleLink_#" class="small-box-footer" id="permissionLink">
            <t>Manage</t> <t>Permissions</t> <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div> -->