<!-- <div class="col-lg-3 col-xs-12">

    <div class="small-box bg-aqua">
        <div class="inner">
            <h3>
                <t>People <h3><small allign="left">Showline Payroll</small></h3> </t>
            </h3>
            <p id="numberOfEmployees">
                #_numberOfEmployees_# <t>Employees</t>
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-person-stalker"></i>
        </div>
        <a href="#_moduleLink_#" class="small-box-footer" id="employeeLink">
            <t>Manage</t> <t>Employees</t> <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div> -->