.redFont{
    color: red;
}
.box_ws{
    background: white;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    color: #555;
}

.cal_box_ws{
    background: white;
    border: 1px solid #DDD;
    color: #555;
    height: 100px;
}

.cal_box_ws .wd_date_full{
    font-weight:bold;
    font-size:10px;
    float: right;
    margin-right: 5px;
}

.cal_box_ws .wd_date{
    font-size:10px;
    float: right;
    margin-right: 5px;
}

.nav-pills  li  a:hover{
    background: #1D64AD;
    color:white;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    font-weight: bold;
    font-size: 12px;
}

.categoryWrap p{
    font-size:16px;
    font-weight:bold;
    padding: 3px;
}

.categoryWrap p:hover{
    font-size:16px;
    font-weight:bold;
    color:white;
    background: gray;
    padding: 3px;
    cursor:pointer;
    border-radius: 4px;

}

.resultLogo{
    text-align: center;
}

.pbar{
    font-weight:bold;
    font-size:11px;
}

.pbar .progress{
    height: 10px;
}

.bs-docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
    display: block;
    *width: 190px;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}




/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
    .bs-docs-container {
        max-width: 970px;
    }
    .bs-docs-sidenav {
        width: 258px;
    }
}

.reviewPoints{
    margin-top:10px;
}

.reviewPoints .star{
    margin-left: 10px;
}

.reviewBlock {
    position: relative;
    margin: 0px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    /*
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    */
    font-size:12px;
}

/*.reviewBlock::after {
content: attr(data-content);
position: absolute;
top: -1px;
left: -1px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
background-color: whiteSmoke;
border: 1px solid #DDD;
color: #9DA0A4;
-webkit-border-radius: 4px 0 4px 0;
-moz-border-radius: 4px 0 4px 0;
border-radius: 4px 0 4px 0;
}*/

.box_ws{
    background: white;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    color: #555;
}

.cal_box_ws{
    background: white;
    border: 1px solid #DDD;
    color: #555;
    height: 100px;
}

.cal_box_ws .wd_date_full{
    font-weight:bold;
    font-size:10px;
    float: right;
    margin-right: 5px;
}

.cal_box_ws .wd_date{
    font-size:10px;
    float: right;
    margin-right: 5px;
}

.nav-pills  li  a:hover{
    background: #1D64AD;
    color:white;
}


.nav-tabs > li > a:hover{
    color:#555;
}


.topheader {
    background: -moz-linear-gradient(#829AA8, #405A6A);
    background: -webkit-linear-gradient(#829AA8, #405A6A);
    background: linear-gradient(#829AA8, #405A6A);
    border: 1px solid #677C89;
    border-bottom-color: #6B808D;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0px 10px rgba(0, 0, 0, 0.1);
}


.bgbody{
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    background: linear-gradient(#FAFAFA, #EAEAEA);
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0px 10px rgba(0, 0, 0, 0.1);
}

.leftMenu{
    background-color: #E9F1F4;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #E9F1F4 #D8DEE2 #D8DEE2;
    border-radius: 0 0 5px 5px;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: whitesmoke;
    border-radius: 5px;
}

/*
.nav-list > .active > a, .nav-list > .active > a:hover{
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
background-color: #405A6A;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0px 10px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
*/

a {
    color: #405A6A;
    text-decoration: none;
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: none;
    background: -moz-linear-gradient(#829AA8, #405A6A);
    background: -webkit-linear-gradient(#829AA8, #405A6A);
    background: linear-gradient(#829AA8, #405A6A);
    color: white;
    border-radius: 2px;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.error{
    color:red;
}

.columnMain{
    font-weight: bold;
}

.borderBox{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 20px;
    -moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #EEE;
}


.iceicon_edit{
    background-image: url("../images/edit.png");
}

.iceicon_delete{
    background-image: url("../images/delete.png");
}

.iceicon_user{
    background-image: url("../images/user.png");
}

.dropdown-menu{
    z-index: 10000;
}

.lightface .lightfaceContent .lightfaceTitle {
    font-size: 14px;
    color: #fff;
    background-color: #405A6A;
    border: 1px solid #405A6A;
    font-weight: bold;
    margin: -1px;
    margin-bottom: 0;
    padding: 5px 10px;
    line-height: 30px;
}

.label-ice, .badge-ice{
    background-color: #405A6A;
}

.dataTables_processing{
    position: absolute;
    margin-left: 40px;
    font-weight: bold;
    font-size: 13px;
    color: gray;
}



/*changes to full caledar*/
.fc-header-title h2 {
    margin-top: 0;
    white-space: nowrap;
    font-size: 20px;
    margin-left: 10px;
    color:#405A6A;
}

table.dataTable{
    font-size: 1.1em;
}

.form-horizontal{
    font-size: 1.2em;
}

.form-horizontal .row{
    margin-bottom: 10px;
}

.table.dataTable {width:100% !important;}

.iceLabel{
    font-size: 12px !important;
    font-weight: bold;
    color: #3c8dbc;
}

.nav-tabs>li>a{
    border-radius:0px;
}

.nav > li > a:hover {
    border-radius:0px;
}

.btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0,0,0,.12),0 1px 1px rgba(0,0,0,.24);
}


/* select2 style overide */
.select2-choice{
    border: none !important;
    width: 100% !important;
    border-radius: 0px !important;
    background-color: #FFF !important;
    background-image: none !important;
}


.select2-container{
    padding:3px !important;
}

.select2-container-multi{
    padding:0px !important;
    border:none;
}

.select2-arrow{
    background-image: none !important;
    background: #FFF !important;
    border: none !important;
}

.select2-drop-active {
    /*border: 1px solid black !important;*/
    border-top: none !important;
    background: #f0f0f0 !important;
}

.logTime{
    font-weight: bold;
    font-size: 13px;
    font-style: italic;
}

.popupForm{
    border: none !important;
    padding: 0px 19px 14px !important;
}

.content {
    background: #FFF;
}

/*
@media (min-width:1025px) {
    .content {
        min-height: 1100px;
    }
}*/

.wrapper {
    background: #FFF;
}

.user-panel > .info > p {
    margin-bottom: 9px;
    max-width: 135px;
    line-height: 17px;
}

.list-group-item-text{
    margin-bottom:5px;
}

.list-group-item{
    padding-bottom:5px;
}

.sub-tab{
    border-top:1px solid #DDD;
    margin-left:20px;
    margin-right:20px;
}

.sub-tab-item{
    padding-bottom:22px;
}

.popupForm .box-body{
    padding-top: 20px;
}

.sub-tab .sub-column{
    padding-left: 2px;
    padding-right: 2px;
}

.user-element-row{
    position: relative;
    display: block;
    padding: 10px 15px;
}







/*custom for v11.0 */


.table-bordered>thead>tr>th{
    border:none !important;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom-width: 2px;
    border: none;
}

.table{
    -webkit-transition: margin-left .15s linear;
    transition: margin-left .15s linear;
    -webkit-user-select: none;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.reviewBlock{/*
    -webkit-box-sizing: border-box;
    box-sizing: border-box*/
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border: none;
}

.treeview-menu li:hover{
    font-weight:bold;
}

.online-button-yellow {
    width: 12px;
    height:12px;
    border-radius: 50%;
    border:2px solid #FFFF99;
    overflow:hidden;

    background: #FFCC00;
    box-shadow: 0 0 3px gray;
}


.online-button-green {
    width: 12px;
    height:12px;
    border-radius: 50%;
    border:2px solid #80E680;
    overflow:hidden;

    background: #00CC00;
    box-shadow: 0 0 3px gray;
}

.online-button-red {
    width: 12px;
    height:12px;
    border-radius: 50%;
    border:2px solid #FFB2B2;
    overflow:hidden;

    background: #FF0000;
    box-shadow: 0 0 3px gray;
}

.online-button-gray {
    width: 12px;
    height:12px;
    border-radius: 50%;
    border:2px solid #F6F6F6;
    overflow:hidden;

    background: #AAAAAA;
    box-shadow: 0 0 3px gray;
}

.header {
    background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_disabled {
    background: none;
}

.headerSortUp {
    background: url('../images/sort_asc.png') no-repeat center right;
}

.headerSortDown {
    background: url('../images/sort_desc.png') no-repeat center right;
}

.hc-details{
    z-index:9999;
}

.header{
    cursor: pointer;
}


/* Full Cal */
.fc-head{
    height: 40px;
    background-color: #3c8dbc;
    font-size: 14px;
    color: #FFF;
}

.fc-toolbar h2{
    font-size: 15px;
}

.navbar, .right-side{
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border: none;
}

.right-side{
    margin-bottom: 20px;
}

.sidebar .sidebar-menu {
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border: none;
    background: #FFF;
}

.treeview.active{
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border: none;
    background: #FFF;
}

.sidebar .sidebar-menu .treeview-menu > li {
    background: #FFF;
}

.skin-blue .sidebar > .sidebar-menu > li > a:hover, .skin-blue .sidebar > .sidebar-menu > li.active > a {
    color: #222;
    background: #fff !important;
}

.right-side > .content-header > h1 > small {
    color: #FFF;
}

.modal-content {
    border-radius: 0px;
}

.panel {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.logoResponsive{
    background: #3c8dbc !important;
    text-align: left !important;
    width:50% !important;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .logoResponsive { display: none !important;}
}

.logoResponsive1{
    background: #3c8dbc !important;
    text-align: right !important;
    width:60% !important;
    font-weight: 100;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .logoResponsive1 { display: flex !important;}
}

.select2Multi{
    height:auto !important;
}

.callout h4{color: #FFF !important;}


.callout.callout-gray {
    background-color: #999;
    border-color: #777;
    color: #FFF;
}

.callout.callout-white {
    background-color: #eee;
    border-color: #ddd;
    color: #222;
}

.callout.callout-white h4{color: #222!important;}


.fc-event {
    position: relative;
    margin-top:6px;
    display: block;
    font-size: 1em;
    line-height: 1.3;
    border: 1px solid #3a87ad;
    background-color: #3a87ad;
    font-weight: normal;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.12), 0 2px 10px 0 rgba(0,0,0,.09);
}

.small-box{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.12), 0 2px 10px 0 rgba(0,0,0,.09);
}

.help-info{
    font-size: 25px;
    color: #367fa9;
    padding-top: 4px;
    cursor: pointer;
}

.hide {
    display: none;
}

.ice-form-error {
    font-size: 1em;
}

.ice-form-error-control {
    padding-bottom: 1rem;
}

.ice-warning {
    color: #856404;
    background-color: #fff3cd;
    margin-left: -2px;
    font-size: 1.4rem;
}

.vis-time-axis.vis-foreground {
    height: 46px;
    font-weight: bold;
    background-color: #F0F0EE;
}

.vis-item {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border: none;
    background-color: transparent !important;
}

.language-list{
    width: 80px !important;
    min-width: 80px !important;
}

.language-list .flag-icon {
    font-size:14px;
    color:#3498db;
}

.user-block .description2 {
    margin-left: 10px;
    color: #999;
    font-size: 12px;
}

.chattext {
    height: 100px;
}

.file-action-icon {
    margin-top: 3px;
    padding: 5px;
    color: green;
    font-size: 2.5rem;
    cursor: pointer;
}

.chat-user-active {
    background: #e6e6e6;
}

.chat-user-wrap {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border: none;
    background: #FFF;
}

.conversation {
    border-top: 1px solid #ededed;
    padding-top: 10px;
    padding-bottom: 10px;
}

.conversation-body {
    padding-left: 60px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.conversation-small {
    max-height:300px;
    overflow: hidden;
}

.chat-message {
    font-size: 1.5rem;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border: none;
    width: 97%;
    display: block;
    box-sizing: padding-box;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.chat-message:hover,
.chat-message:active,
.chat-message:focus
{
    outline:0px !important;
    -webkit-appearance:none;
}

.conversation-attachment {
    background: #f9f9f9;cursor: pointer;width:300px;min-height:60px;margin-left: 50px;
}

.conversation-save-post {
    padding: 1px 10px;
    margin-bottom: 15px;
}
