Dear #_name_#,<br/><br/>
Your account in <b>ShowlineHrm</b> has been created on <a href="#_url_#">#_url_#</a><br/><br/>
 
<b>Please find your account information below:</b><br/><br/>
Username: <b>#_username_#</b><br/>
Email:    <b>#_email_#</b> (You can use, username or email to login)<br/>
Password: <b>#_password_#</b> (Strongly advised to change this password once logged in)<br/>
<br/>


To get started, follow this link: <b><a href="#_url_#">#_url_#</a></b><br/><br/>

<font face="Arial, sans-serif" size="1" color="#4a4a4a">
THIS IS AN AUTOMATED EMAIL - REPLIES WILL BE SENT TO #_adminEmail_#
</font>
<br/>
<br/>