<!-- <div class="col-lg-3 col-xs-12">

    <div class="small-box bg-green">
        <div class="inner">
            <h3><t>Company</t></h3>
            <p id="numberOfCompanyStuctures">
                #_numberOfCompanyStuctures_# <t>Departments</t>
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-shuffle"></i>
        </div>
        <a href="#_moduleLink_#" class="small-box-footer" id="companyLink">
            <t>Manage</t> <t>Company</t> <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div> -->