<!-- <div class="col-lg-3 col-xs-12">

    <div class="small-box bg-red">
        <div class="inner">
            <h3><t>Projects</t></h3>
            <p id="numberOfProjects">
                #_numberOfProjects_# <t>Active Projects</t>
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#_moduleLink_#" class="small-box-footer" id="projectsLink">
            <t>Update Clients/Projects</t> <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div> -->