<!-- <div class="col-lg-3 col-xs-12">
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3>
                <t>Attendance</t>
            </h3>
            <p id="numberOfAttendanceLastWeek">
                #_numberOfAttendanceLastWeek_# <t>Entries Last Week</t>
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-clock"></i>
        </div>
        <a href="#_moduleLink_#" class="small-box-footer" id="attendanceLink">
            <t>Monitor Attendance</t> <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div> -->