<!-- <div class="col-lg-3 col-xs-12">

    <div class="small-box bg-green">
        <div class="inner">
            <h3><t>Settings</t></h3>
            <p>
                <t>Configure</t> ShowlineHrm
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-settings"></i>
        </div>
        <a href="#_moduleLink_#" class="small-box-footer" id="settingsLink">
            <t>Update</t> <t>Settings</t> <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div> -->