<!-- <div class="col-lg-3 col-xs-12">

    <div class="small-box bg-red">
        <div class="inner">
            <h3>
                <t>Travel</t>
            </h3>
            <p id="numberOfTravel">
                <t>Requests</t>
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-plane"></i>
        </div>
        <a href="#_moduleLink_#" class="small-box-footer" id="travelLink">
            <t>Manage</t> <t>Travel</t> <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div> -->