<!-- <div class="col-lg-3 col-xs-12">

    <div class="small-box bg-yellow">
        <div class="inner">
            <h3><t>Users</t></h3>
            <p id="numberOfUsers">
                #_numberOfUsers_# <t>Users</t>
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a href="#_moduleLink_#" class="small-box-footer" id="usersLink">
            <t>Manage</t> <t>Users</t> <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div> -->